Repository tommmyy/ramda-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint --fix

chore: .nvmrc update for lerna to work
  .nvmrc
Due: none

chore: release process
  lerna.json
  package.json
  packages/ramda-extension-docs/docs/index.html
  packages/ramda-extension-docs/package.json
  packages/ramda-extension-docs/public/docs/index.html
  packages/ramda-extension-docs/public/repl/index.html
  packages/ramda-extension-docs/repl/index.html
Due: prettier --write

v0.11.0
  CHANGELOG.md
  lerna.json
  packages/ramda-extension-docs/CHANGELOG.md
  packages/ramda-extension-docs/package.json
  packages/ramda-extension/CHANGELOG.md
  packages/ramda-extension/package.json
Due: prettier --write

chore: docs v0.11.0
  package.json
  packages/ramda-extension-docs/docs/index.html
  packages/ramda-extension-docs/package.json
  packages/ramda-extension-docs/public/docs/index.html
  packages/ramda-extension-docs/public/repl/index.html
  packages/ramda-extension-docs/repl/index.html
  packages/ramda-extension-docs/tools/deployToFirebase.js
Due: prettier --write, yarn lint --fix

feat: #210 update to ramda 0.29.0
  .editorconfig
  package.json
  packages/ramda-extension-docs/publish.js
  packages/ramda-extension/package.json
  packages/ramda-extension/src/__tests__/dotPathEq-test.js
  packages/ramda-extension/src/__tests__/dotPathNotEq-test.js
  packages/ramda-extension/src/__tests__/mergeWithDotPath-test.js
  packages/ramda-extension/src/__tests__/pathNotEq-test.js
  packages/ramda-extension/src/__tests__/propNotEq-test.js
  packages/ramda-extension/src/__tests__/viewWith-test.js
  packages/ramda-extension/src/dotPathEq.js
  packages/ramda-extension/src/dotPathNotEq.js
  packages/ramda-extension/src/ensureArray.js
  packages/ramda-extension/src/flattenValues.js
  packages/ramda-extension/src/mergeWithDotPath.js
  packages/ramda-extension/src/pathNotEq.js
  packages/ramda-extension/src/propNotEq.js
  packages/ramda-extension/src/xPairs.js
  packages/ramda-extension/src/xPairsRight.js
  yarn.lock
Due: prettier --write, yarn lint --fix

v0.12.0
  CHANGELOG.md
  lerna.json
  packages/ramda-extension-docs/CHANGELOG.md
  packages/ramda-extension-docs/package.json
  packages/ramda-extension/CHANGELOG.md
  packages/ramda-extension/package.json
Due: prettier --write

feat: docs
  packages/ramda-extension-docs/docs/css/style.css
  packages/ramda-extension-docs/docs/index.html
  packages/ramda-extension-docs/package.json
  packages/ramda-extension-docs/public/docs/css/style.css
  packages/ramda-extension-docs/public/docs/index.html
  packages/ramda-extension-docs/public/repl/index.html
  packages/ramda-extension-docs/publish.js
  packages/ramda-extension-docs/repl/index.html
  yarn.lock
Due: prettier --write, yarn lint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add toUpperFirst alias toTitleCase
  packages/ramda-extension/src/index.js
  packages/ramda-extension/src/toTitleCase.js
Due: prettier --write, yarn lint --fix

add exports to package.json
  CHANGELOG.md
  packages/ramda-extension-docs/package.json
  packages/ramda-extension/CHANGELOG.md
  packages/ramda-extension/package.json
  yarn.lock
Due: prettier --write

v0.13.0
  CHANGELOG.md
  lerna.json
  packages/ramda-extension-docs/CHANGELOG.md
  packages/ramda-extension-docs/package.json
  packages/ramda-extension/CHANGELOG.md
  packages/ramda-extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint --fix: any of: **/*.js
